<address class="ftr__section--background">
	<div class="ftr__container">
		<div class="ftr__item">
			<img class="img-fluid align-self-center" alt="Picture" title="Picture" src="https://api.fnkr.net/testimg/220x20/eee/ccc/?text=img">
			<a class="ftr__href" title="URL" target="_self" href="#">Ссылка куда-то</a>
		</div>
		<div class="ftr__item">
			<h4 class="ftr__h4 ftr__h4--lts">мы в соцсетях</h4>
			<div class="ftr__social">
				<a title="URL" target="_blank" href="https://instagram.com"><i class="glyphs__s-inst">&nbsp;</i></a>
				<a title="URL" target="_blank" href="https://twitter.com"><i class="glyphs__s-twit">&nbsp;</i></a>
				<a title="URL" target="_blank" href="https://facebook.com"><i class="glyphs__s-face">&nbsp;</i></a>
			</div>
		</div>
		<div class="ftr__item">
			<h4 class="ftr__h4">адрес</h4>
			<div class="ftr__p">какой-то адрес</div>
		</div>
	</div>
</address>