@font-face {
  font-family: 'i-Circe';
  src: local('i-Circe-Light'), local('i-Circe-300'), url("../media/fonts/Circe/woff2/Light.woff2") format('woff2'), url("../media/fonts/Circe/woff/Light.woff") format('woff'), url("../media/fonts/Circe/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Circe';
  src: local('i-Circe-Regular'), local('i-Circe-400'), url("../media/fonts/Circe/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Circe/woff/Regular.woff") format('woff'), url("../media/fonts/Circe/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Circe';
  src: local('i-Circe-Bold'), local('i-Circe-700'), url("../media/fonts/Circe/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Circe/woff/Bold.woff") format('woff'), url("../media/fonts/Circe/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Thin'), local('i-Roboto-100'), url("../media/fonts/Roboto/woff2/Thin.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Thin.woff") format('woff'), url("../media/fonts/Roboto/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Light'), local('i-Roboto-300'), url("../media/fonts/Roboto/woff2/Light.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Light.woff") format('woff'), url("../media/fonts/Roboto/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Regular'), local('i-Roboto-400'), url("../media/fonts/Roboto/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Regular.woff") format('woff'), url("../media/fonts/Roboto/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Medium'), local('i-Roboto-500'), url("../media/fonts/Roboto/woff2/Medium.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Medium.woff") format('woff'), url("../media/fonts/Roboto/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Bold'), local('i-Roboto-700'), url("../media/fonts/Roboto/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Bold.woff") format('woff'), url("../media/fonts/Roboto/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Black'), local('i-Roboto-900'), url("../media/fonts/Roboto/woff2/Black.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Black.woff") format('woff'), url("../media/fonts/Roboto/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body {
  font-family: 'i-Circe', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: grid;
}

h1 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h2 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h3 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h4 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h5 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h6 {
  font-family: 'i-Circe', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-family: 'i-Circe', sans-serif;
  font-size: 0.88rem;
  color: #000;
  letter-spacing: normal;
}

a,
a:hover {
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  position: relative;
  overflow: hidden;
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

input:required,
input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

.height-true {
  height: auto;
}

.height-false {
  height: 0;
}

.opacity-true {
  opacity: 1;
}

.opacity-false {
  opacity: 0;
}

.display-true {
  display: grid;
}

.display-false {
  display: none;
}

.item-true {
  display: grid;
}

.item-false {
  display: none;
}

.view-true {
  visibility: visible;
}

.view-false {
  visibility: hidden;
}

.DELETE {
  display: none !important;
}

.DEL {
  display: none !important;
}

input:disabled,
textarea:disabled {
  background-color: rgba(0,0,0,0);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.align-self-center {
  display: grid;
  align-self: center;
}

.ttu {
  text-transform: uppercase;
}

.inline-svg__init {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: inline-grid;
  visibility: visible;
}

[class*='glyphs__'] {
  display: inline-grid;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  font-size: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.space-1,
.space-2,
.space-3 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eee;
  border: 1px solid #bbb;
  border-right: 0;
  border-left: 0;
  font-size: 0;
  width: 100%;
  display: grid;
  grid-template: 1fr/1fr;
}

.space-1:before,
.space-2:before,
.space-3:before {
  display: grid;
  font-size: 5rem;
  color: #ccc;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.space-1 {
  height: 33vh;
}

.space-1:before {
  content: 'SPACE-1';
}

.space-2 {
  height: 66vh;
}

.space-2:before {
  content: 'SPACE-2';
}

.space-3 {
  height: 99vh;
}

.space-3:before {
  content: 'SPACE-3';
}

.owl-carousel.owl-loaded {
  display: grid;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.owl-carousel.off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: $$deepgreen;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fe6e35;
}

.owl-theme .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
}

.glyphs__d-scrollup {
  width: 28px;
  height: 42.5px;
}

.glyphs__error {
  width: 53.867px;
  height: 53.867px;
}

.glyphs__success {
  width: 50px;
  height: 50px;
}

.glyphs__d-scrollup {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.glyphs__viber {
  width: 90px;
  height: 40px;
  margin-bottom: -0.5rem;
}

.glyphs__whatsapp {
  width: 130px;
  height: 30px;
}

.glyphs__telegram {
  width: 108px;
  height: 26px;
}

.glyphs__telme {
  width: 20px;
  height: 28px;
}

.glyphs__insta {
  width: 100%;
  height: 25px;
}

.glyphs__checked {
  margin: 0 2px;
  fill: #fe6e35;
  position: relative;
  right: -2px;
  top: -3px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes opacity-true {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-true {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-false {
  0% {
    display: grid;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@keyframes opacity-false {
  0% {
    display: grid;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@-webkit-keyframes fade-my-image {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-my-image {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes form-spiner-true {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@keyframes form-spiner-true {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@-webkit-keyframes form-spiner-false {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@keyframes form-spiner-false {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@-webkit-keyframes smooth-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes smooth-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-webkit-keyframes smooth-x-moving {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@keyframes smooth-x-moving {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@-webkit-keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

.page__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.page__section--background-generator {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0,0,0,0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
}

.page__section--background-filter-01,
.page__section--background-filter-02 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(6,28,63,0.34);
  display: grid;
  z-index: -1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
}

.page__section--background-filter-02 {
  background-color: rgba(12,24,42,0.26);
}

.page__container {
  display: grid;
  grid: 1fr/1.1fr 0.9fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
}

@media (max-width: 1266.98px) {
  .page__container {
    grid: repeat(auto-fit, minmax(1rem, auto))/auto;
    padding: 15rem 1rem 5rem;
  }
}

@media (max-width: 425.98px) {
  .page__container {
    padding: 5rem 1rem;
  }
}

.page__row {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  grid: repeat(auto-fit, minmax(1rem, auto))/auto;
}

.page__row:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media (max-width: 1266.98px) {
  .page__row:last-child {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.page-title__h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.07rem;
}

.page-cost__row {
  display: grid;
  grid: 1fr/1fr minmax(16rem, 0.9fr);
  margin: 3rem 0;
}

@media (max-width: 672.98px) {
  .page-cost__row {
    grid: repeat(2, 8rem)/minmax(16rem, 1fr);
  }
}

.page-cost__numb {
  background-color: #fff;
  display: grid;
  grid: auto/auto minmax(11rem, 1fr);
  padding: 0 2rem;
  grid-gap: 0 1.5rem;
}

@media (max-width: 672.98px) {
  .page-cost__numb {
    grid: auto/repeat(auto-fit, minmax(4rem, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 325.98px) {
  .page-cost__numb {
    grid-gap: 0 1rem;
  }
}

.page-cost__item {
  margin: 0;
}

.page-cost__item:nth-child(1) {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/3;
  color: #09aeed;
  font-weight: 700;
  font-size: 6.4rem;
  margin: 1.5rem 0 1rem;
}

@media (max-width: 414.98px) {
  .page-cost__item:nth-child(1) {
    font-size: 5.333333333333334rem;
  }
}

.page-cost__item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  font-size: 2.25rem;
  font-weight: 700;
  color: #004569;
}

@media (max-width: 414.98px) {
  .page-cost__item:nth-child(2) {
    font-size: 1.5rem;
  }
}

.page-cost__item:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.5rem;
  color: #004569;
}

@media (max-width: 414.98px) {
  .page-cost__item:nth-child(3) {
    font-size: 1.25rem;
  }
}

.page-cost__desc {
  background-color: #09aeed;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid: auto auto/auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-cost__desc-ul {
  list-style-type: none;
  padding: 0;
  -ms-flex-item-align: start;
  align-self: start;
  margin: 0 auto;
}

.page-cost__desc-ul li {
  color: #fff;
  position: relative;
}

.page-cost__desc-ul li:before {
  content: '-';
  width: auto;
  height: auto;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  position: absolute;
  display: grid;
  left: -0.7rem;
  top: 0;
}

.page-cost__desc-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  -ms-flex-item-align: end;
  align-self: end;
  margin-left: -0.8rem;
}

.page-text__item {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

.page-text__item--color {
  background-color: #fe6e35;
  padding: 0 0.3rem;
}

.page-phone__container {
  display: grid;
  max-width: 29rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid: repeat(auto-fit, minmax(1rem, auto))/auto;
  grid-gap: 1.2rem 0;
  margin-top: 3rem;
  margin-right: -2rem;
  background-color: rgba(0,0,0,0);
  padding: 2rem;
  border-radius: 23px;
  color: #fff;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

@media (max-width: 1266.98px) {
  .page-phone__container {
    padding: unset;
    margin-right: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.page-phone__p {
  font-size: 1.5rem;
  color: unset;
  text-align: center;
  margin: 0;
}

.page-phone__mask {
  display: grid;
  width: 100%;
  height: auto;
  border-radius: 23px 23px 23px 23px;
  border: 2px solid rgba(0,0,0,0);
  background: unset;
  color: unset;
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4rem 0;
  text-align: center;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-phone__mask::-webkit-input-placeholder {
  color: #fff;
}

.page-phone__mask:-ms-input-placeholder {
  color: #fff;
}

.page-phone__mask::-ms-input-placeholder {
  color: #fff;
}

.page-phone__mask::placeholder {
  color: #fff;
}

@media (max-width: 425.98px) {
  .page-phone__mask {
    font-size: 1.8rem;
  }
}

.page-phone__btn {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-phone__tooltip {
  position: absolute;
  display: none;
  left: 50%;
  top: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #222;
  color: #09aeed;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 11rem;
  z-index: 2;
}

.page-phone__tooltip:before {
  content: '';
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: #212121;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 25%) rotate(45deg);
  -ms-transform: translate(-50%, 25%) rotate(45deg);
  transform: translate(-50%, 25%) rotate(45deg);
  display: grid;
  z-index: 1;
}

.page-phone__mask-position {
  position: relative;
}

.page-phone__checked {
  width: 3rem;
  height: 3rem;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  border: 4px solid;
  border-radius: 100%;
}

.page-phone__done {
  display: none;
}

.btn__oval {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  width: auto;
  height: auto;
  border: 0;
  cursor: pointer;
  border-radius: 23px 23px 23px 23px;
  padding: 1rem 2rem;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 325.98px) {
  .btn__oval {
    font-size: 1.2rem;
  }
}

.btn__color {
  background-color: #fe6e35;
  -webkit-box-shadow: -7px 7px 21px 0px rgba(255,168,0,0.18);
  box-shadow: -7px 7px 21px 0px rgba(255,168,0,0.18);
}

.btn__color:hover {
  background-color: #ff802b;
  -webkit-box-shadow: -12px 12px 21px 12px rgba(255,168,0,0.18);
  box-shadow: -12px 12px 21px 12px rgba(255,168,0,0.18);
}

.btn__color:active {
  background-color: #ff6021;
}

.hdr__fixed {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 3;
  margin: auto;
}

@media (max-width: 425.98px) {
  .hdr__fixed {
    position: fixed;
  }
}

.hdr__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.hdr__container {
  display: grid;
  grid: auto/repeat(auto-fit, minmax(25rem, auto));
  grid-gap: 0 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  margin-top: 3rem;
}

.hdr__container a {
  color: #fff;
}

@media (max-width: 1266.98px) {
  .hdr__container {
    padding: 0 1rem;
    grid-gap: 0.3rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 1266.98px) {
  .hdr__logo {
    grid-column: 1/4;
  }
}

@media (max-width: 425.98px) {
  .hdr__logo {
    display: none;
  }
}

.hdr__logo-p {
  font-size: 1.1rem;
  color: #fff;
}

.hdr__social {
  display: grid;
  grid: auto/repeat(3, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid-gap: 1rem;
}

@media (max-width: 1266.98px) {
  .hdr__social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 833.98px) {
  .hdr__social {
    grid-column: 1/4;
  }
}

@media (max-width: 424.98px) {
  .hdr__social {
    grid: auto auto/1fr;
  }
}

.hdr__links-item:hover:nth-child(-n+3) {
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

@media (max-width: 424.98px) {
  .hdr__links-item:hover:nth-child(-n+3) {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

.hdr__links-item:active {
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.hdr__phone {
  display: grid;
  grid: auto/auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid-gap: 0 1rem;
}

@media (max-width: 833.98px) {
  .hdr__phone {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 424.98px) {
  .hdr__phone {
    grid: auto auto/1fr;
  }
}

.hdr__phone-href {
  display: grid;
  grid: auto/auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 0 0.4rem;
}

.hdr__phone-p {
  font-size: 1.1rem;
  color: #fff;
}

.hdr__phone-cyrcle {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #09aeed;
  border-radius: 100%;
}

.hdr__menu {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 425.98px) {
  .hdr__menu {
    display: grid;
    grid: repeat(3, 1fr)/1fr;
    grid-gap: 0.5rem 0;
    position: fixed;
    right: 1rem;
    top: 1rem;
    -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hdr__menu:hover {
    cursor: pointer;
  }
}

.hdr__menu-line {
  width: 2rem;
  height: 0.25rem;
  display: grid;
  background: #09aeed;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 425.98px) {
  .hdr__menu--background {
    background: rgba(0,0,0,0);
    padding: 0 1rem 2rem;
    margin-top: -100%;
    -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.ftr__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.ftr__container {
  display: grid;
  grid-template-rows: minmax(3rem, auto);
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.scrollup__section--background {
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
}

.scrollup__container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 3rem;
  height: 3rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.scrollup__container:hover {
  background-color: #fff;
  border-radius: 100%;
}

.unknown-page__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.unknown-page__container {
  display: grid;
  grid: 1fr/0.4fr 0.6fr;
  min-height: 88vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 5rem;
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 992.98px) {
  .unknown-page__container {
    grid: auto/repeat(auto-fit, minmax(19rem, auto));
    padding: 0 1rem;
    grid-gap: 1rem;
  }
}

.unknown-page__left {
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 1rem;
}

@media (max-width: 672.98px) {
  .unknown-page__left {
    -ms-flex-item-align: end;
    align-self: end;
  }
}

.unknown-page__right {
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1rem;
}

.unknown-page__symbol {
  background-color: #ddd;
  border-radius: 10px 10px 10px 10px;
  width: 2rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unknown-page__ul {
  display: grid;
  grid-gap: 1rem;
}

.unknown-page__href {
  font-weight: 700;
  color: #f44336;
  font-size: 1.2rem;
  letter-spacing: unset;
}

.unknown-page__href:hover {
  letter-spacing: unset;
}

.unknown-page__title {
  display: grid;
  color: #000;
}

.unknown-page__h2 {
  display: grid;
  color: #f44336;
}

.anima-phone-true {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: form-spiner-true 0.15s both;
  animation: form-spiner-true 0.15s both;
}

.anima-phone-false {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: form-spiner-false 0.22s both;
  animation: form-spiner-false 0.22s both;
}

.anima-active {
  -webkit-animation: smooth-scale 5s both infinite;
  animation: smooth-scale 5s both infinite;
}

.fadeMyImage {
  -webkit-animation: fade-my-image 0.5s both;
  animation: fade-my-image 0.5s both;
}

.page-phone__container:hover .page-phone__mask {
  border: 2px solid #fe6e35;
  background: rgba(0,0,0,0);
  color: #fff;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.page-phone__container:hover .page-phone__mask::-webkit-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask:-ms-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask::-ms-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask::placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask:focus::-webkit-input-placeholder {
  -webkit-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus:-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus::-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hdr__menu.item-active >:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(1.04rem);
  -ms-transform: rotate(45deg) translateY(1.04rem);
  transform: rotate(45deg) translateY(1.04rem);
}

.hdr__menu.item-active >:nth-child(2) {
  width: 0;
}

.hdr__menu.item-active >:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-1.04rem);
  -ms-transform: rotate(-45deg) translateY(-1.04rem);
  transform: rotate(-45deg) translateY(-1.04rem);
}

.hdr__menu.item-active {
  right: 0.55rem;
}

.hdr__menu--background.item-active {
  background: rgba(0,0,0,0.667);
  margin-top: 0;
}

.hdr__phone-href:hover .hdr__phone-cyrcle {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #0081ef;
}

.page-phone__tooltip[data-tooltips="true"] {
  display: grid;
  -webkit-animation: opacity-true 0.3s both;
  animation: opacity-true 0.3s both;
}

.page-phone__tooltip[data-tooltips="false"] {
  -webkit-animation: opacity-false 0.3s both;
  animation: opacity-false 0.3s both;
}