//============================
//    Name: all-pages.html
//    Desc: All pages
//============================



.anima-phone-true {
	transition: .25s __cubic ;
	animation form-spiner-true .15s both
}
.anima-phone-false {
	transition: .25s __cubic ;
	animation form-spiner-false .22s both
}

.anima-active {
	animation smooth-scale 5s both infinite
}

.fadeMyImage {
	animation fade-my-image .5s both
}


.page-phone__container:hover .page-phone__mask {
	border: 2px solid $$orange;
	background: $$null;
	color: $$white;
	transition .25s __cubic
	user-select none
	width 100%
	&::placeholder {
		color: $$white
	}
	&:focus::placeholder {
		user-select none
	}
}

.hdr__menu.item-active > {
	&:nth-child(1) {
		transform	rotate(45deg) translateY(1.04rem)
	}
	&:nth-child(2) {
		width 0
	}
	&:nth-child(3) {
		transform	rotate(-45deg) translateY(-1.04rem)
	}
}

.hdr__menu.item-active {
	right 0.55rem
}
.hdr__menu--background.item-active {
	background: #000a;
	margin-top 0
}
.hdr__phone-href:hover .hdr__phone-cyrcle {
	transition .25s __cubic
	background-color #0081ef
}

.page-phone__tooltip[data-tooltips="true"] {
	display grid
	animation opacity-true .3s both
}
.page-phone__tooltip[data-tooltips="false"] {
	animation opacity-false .3s both
}