
$icon-id-glyphs-checked-width = 442px;
$icon-id-glyphs-checked-height = 442px;
$icon-id-glyphs-d-scrollup-width = 28px;
$icon-id-glyphs-d-scrollup-height = 42.5px;
$icon-id-glyphs-error-width = 50px;
$icon-id-glyphs-error-height = 50px;
$icon-id-glyphs-insta-width = 40.64px;
$icon-id-glyphs-insta-height = 40.64px;
$icon-id-glyphs-star-width = 53.867px;
$icon-id-glyphs-star-height = 53.867px;
$icon-id-glyphs-success-width = 50px;
$icon-id-glyphs-success-height = 50px;
$icon-id-glyphs-telegram-width = 275.51px;
$icon-id-glyphs-telegram-height = 61.54px;
$icon-id-glyphs-telme-width = 27.82px;
$icon-id-glyphs-telme-height = 43.82px;
$icon-id-glyphs-viber-width = 223.77px;
$icon-id-glyphs-viber-height = 104.82px;
$icon-id-glyphs-whatsapp-width = 327.21px;
$icon-id-glyphs-whatsapp-height = 64.76px;

$checked$ {
  width: $icon-id-glyphs-checked-width;
  height: $icon-id-glyphs-checked-height;
}

$d-scrollup$ {
  width: $icon-id-glyphs-d-scrollup-width;
  height: $icon-id-glyphs-d-scrollup-height;
}

$error$ {
  width: $icon-id-glyphs-error-width;
  height: $icon-id-glyphs-error-height;
}

$insta$ {
  width: $icon-id-glyphs-insta-width;
  height: $icon-id-glyphs-insta-height;
}

$star$ {
  width: $icon-id-glyphs-star-width;
  height: $icon-id-glyphs-star-height;
}

$success$ {
  width: $icon-id-glyphs-success-width;
  height: $icon-id-glyphs-success-height;
}

$telegram$ {
  width: $icon-id-glyphs-telegram-width;
  height: $icon-id-glyphs-telegram-height;
}

$telme$ {
  width: $icon-id-glyphs-telme-width;
  height: $icon-id-glyphs-telme-height;
}

$viber$ {
  width: $icon-id-glyphs-viber-width;
  height: $icon-id-glyphs-viber-height;
}

$whatsapp$ {
  width: $icon-id-glyphs-whatsapp-width;
  height: $icon-id-glyphs-whatsapp-height;
}

